@import '_vars';
@import '_global';
@import '_fonts';


//start header
.header__top{
    background-color: #eef1f3;
}
.header__top-inner{

    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__top-btn{
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 140px;    
    a{
        font-size: 14px;
        color: #fff;
        padding-left: 18px;
        cursor: pointer;      
    }
}
.header__menu{
    &-inner{
            display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    }
    &-form{      
        position: relative;  
        min-width: 360px;
        input{
            font-size: 15px;
            color: #898f96; 
            border: 1px solid #d9dfe5;
            display: block;
            width: 100%;
            height: 46px;
            padding-left: 26px;
            border-radius: 20px;
        }
        button{
            position: absolute; 
            top: 0;
            right: 0;  
            border: none;
            background-color: $blue;  
            height: 46px; 
            width: 70px;  
            border-radius: 20px;     
            cursor: pointer;  
            &::before{                
                content: '\e86f';
                font-family: 'Linearicons-Free';
                position: absolute;
                font-size: 15px;
                color: #fff;
                top: 15px;
                right: 26px;
            }    
          
        }
    }
}
.menu__list{
    
    li{
        text-transform: uppercase;
        display: inline-block; 
        & +li{
        margin-left: 34px;
        
        }
    }
    a{
        font-weight: 500;
        color: #333333;
        font-size: 15px;
    }
}
//end header
//start search
.search{
    background-color: #294cce;
    color: #fff;
    min-height: 728px;
}
.search__inner{
    text-align: center;
    &-title{ 
        padding-top: 200px; 
        font-size: 60px; 
        // line-height: 70px;
        color: #f3f3f8;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        p{
            margin-top: 40px;
            margin-bottom: 52px;
            font-weight: 700;
        }
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
    }
    &-btn{
        & a + a{
            margin-left: 24px;
        }
    }   
}
.search__btn{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    height: 56px;
    width: 190px;
    color: #fff;
    border-radius: 30px;
    padding-top: 12px;
    margin-top: 60px;
}
//end search
//start advantages
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    margin-top: 200px;
    min-width: 360px;
    text-align: center;
    &-bg{
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-title{
        font-size: 24px;
        line-height: 7px;
        color: #000;  
        padding-top: 45px;  
    }
    &-text{
        color: #555555;
        line-height: 30px;
        padding: 40px 36px 50px;

    }
}
//end advantages

  

   